{% extends 'core/base.html' %}
{% block title %} Clientes {% endblock %}

{% block content %}
    <div class="py-6 px-6">
        <h1 class="mb-4 text-xl">Clientes</h1>
        <a href="{% url 'add_client' %}" class="py-3 px-6 inline-block text-white bg-violet-900 rounded-xl hover:bg-violet-600">Novo cliente</a>

        <div class="flex justify-between mt-4">
            <p class="py-4 px-2 bg-gray-200 w-full font-semibold">Nome</p>
        </div>

        {% for client in clients %}
            <div class="flex justify-between"> 
                <p class="py-2 px-2  w-full {% cycle 'bg-gray-100' '' %}">
                    <a href="{% url 'sobre_client' client.id %}">{{ client.nome }}</a>
                </p>
            </div>
        {% empty %}
            <p class="py-2 px-2 text-gray-900">Você ainda não cadastrou nenhum cliente</p>
        {% endfor %}            
    </div>
{% endblock %}