{% extends 'core/base.html' %}
{% block title %} {{ client.nome }} {% endblock %}

{% block content %} 

    <div class="py-6 px-6">
        <h1 class="mb-4 text-xl">{{ client.nome }}</h1>
    
        {% if lead.sobre %}
            <p class="font-semibold">Descrição:</p>
            <p class="mb-2">{{ client.sobre }}</p>
        {% endif %}    

        <p class="font-semibold">Cadastrada por:</p>
        <p class="mb-2">{{ client.criado_por }}</p>

        <p class="font-semibold">Data do cadastro:</p>
        <p class="mb-2">{{ client.criado_em|date:"d/M/Y - H:i" }}</p>

        <p class="font-semibold">Data da última modificação:</p>
        <p class="mb-6">{{ client.modificado_em|date:"d/M/Y - H:i" }}</p>

        <hr class="my-4 text-gray-300">
            <a href="{% url 'clients:deletar' client.id %}" class="py-2 px-6 bg-red-600 text-white rounded-xl hover:bg-red-700">Deletar cliente</a>
            <a href="{% url 'clients:editar' client.id %}" class="py-2 px-6 bg-violet-900 text-white rounded-xl hover:bg-violet-600">Editar informações</a>
        <hr class="my-4 text-gray-300">

        <hr class="my-4 text-gray-300">

        <h2 class="text-xl">Comentários</h2>

        <div class="space-y-4">
            {% for comment in client.comments.all %}
                <div class="p-6 m-4 bg-gray-100 rounded-xl">
                    <div class="flex space-x-2 items-center">
                        <p class="font-semibold">{{ comment.criado_por }}</p>
                        <p class="text-xs text-gray-800"> {{ comment.criado_em|date:"d/M/Y - H:i"}} </p>
                    </div>
                    <p>{{ comment.content }}</p>
                </div>
            {% endfor %}
        </div>

        <form method="post" action="{% url 'clients:add_comment' client.id %}">
            {% csrf_token %}

            {{ form.as_p }}

            <button class="py-2 px-6 bg-gray-200 text-black rounded-xl hover:bg-gray-300 hover:cursor-pointer">Enviar</button>

        </form>

        <hr class="my-4 text-gray-300">

        <h2 class="text-xl">Imagens</h2>

        <div class="space-y-4">
            {% for file in client.files.all %}
                <div class="p-6 m-4 bg-gray-100 rounded-xl">
                    <div class="flex space-x-2 items-center">
                        <p class="font-semibold">{{ file.criado_por }}</p>
                        <p class="text-xs text-gray-800"> {{ file.criado_em|date:"d/M/Y - H:i"}} </p>
                    </div>
                    <div class="space-y-4">
                        <img src="{{ file.file.url }}" class="m-3 w-1/4">
                        <a href="{{ file.file.url }}" class="py-2 px-6 m-3 bg-gray-200 text-black rounded-xl hover:bg-gray-300 hover:cursor-pointer">Download</a>
                    </div>
                </div>
            {% endfor %}
        </div>

        <form method="post" action="{% url 'clients:add_file' client.id %}" enctype="multipart/form-data">
            {% csrf_token %}

            {{ fileform.as_p }}

            <button class="py-2 px-6 bg-gray-200 text-black rounded-xl hover:bg-gray-300 hover:cursor-pointer">Enviar</button>

        </form>

        <hr class="my-4 text-gray-300">



        <a href="{% url 'clients:lista' %}" class="py-2 px-6 bg-gray-200 rounded-xl hover:bg-gray-300">Voltar para meus clientes</a>        
    </div>
{% endblock %}