{% extends 'core/base.html' %}
{% block title %} {{ client.nome }} {% endblock %}

{% block content %} 

    <div class="py-6 px-6">
        <h1 class="mb-4 text-xl">{{ client.nome }}</h1>
    
        {% if lead.sobre %}
            <p class="font-semibold">Descrição:</p>
            <p class="mb-2">{{ client.sobre }}</p>
        {% endif %}    

        <p class="font-semibold">Cadastrada por:</p>
        <p class="mb-2">{{ client.criado_por }}</p>

        <p class="font-semibold">Data do cadastro:</p>
        <p class="mb-2">{{ client.criado_em|date:"d/M/Y - H:i" }}</p>

        <p class="font-semibold">Data da última modificação:</p>
        <p class="mb-6">{{ client.modificado_em|date:"d/M/Y - H:i" }}</p>

        <hr class="my-4 text-gray-300">
            <a href="{% url 'clients:deletar' client.id %}" class="py-2 px-6 bg-red-600 text-white rounded-xl hover:bg-red-700">Deletar cliente</a>
            <a href="{% url 'clients:editar' client.id %}" class="py-2 px-6 bg-violet-900 text-white rounded-xl hover:bg-violet-600">Editar informações</a>
        <hr class="my-4 text-gray-300">

        <a href="{% url 'clients:lista' %}" class="py-2 px-6 bg-gray-200 rounded-xl hover:bg-gray-300">Voltar para meus clientes</a>        
    </div>
{% endblock %}