{% extends 'core/base.html' %}
{% block title %} {{ lead.nome }} {% endblock %}

{% block content %} 
    <div class="py-6 px-6">
        <h1 class="mb-4 text-xl">{{ lead.nome }}</h1>
    
        {% if lead.sobre %}
            <p class="font-semibold">Descrição:</p>
            <p class="mb-2">{{ lead.sobre }}</p>
        {% endif %}    

        <p class="font-semibold">Prioridade:</p>
        <p class="mb-2">{{ lead.get_prioridade_display }}</p>

        <p class="font-semibold">Status:</p>
        <p class="mb-2">{{ lead.get_status_display }}</p>

        <p class="font-semibold">Cadastrado por:</p>
        <p class="mb-2">{{ lead.criada_por }}</p>

        <p class="font-semibold">Data do cadastro:</p>
        <p class="mb-2">{{ lead.criada_em|date:"d/M/Y - H:i" }}</p>

        <p class="font-semibold">Data da última modificação:</p>
        <p class="mb-6">{{ lead.modificada_em|date:"d/M/Y - H:i" }}</p>

        <hr class="my-4 text-gray-300">

        <form id="lead_delete_form" method="post" action="{% url 'leads:deletar' lead.id %}">
            {% csrf_token %}
        </form>

        <a href="#" onclick="document.getElementById('lead_delete_form').submit();" class="py-2 px-6 bg-red-600 text-white rounded-xl hover:bg-red-700">Deletar lead</a>
        <a href="{% url 'leads:editar' lead.id %}" class="py-2 px-6 bg-violet-900 text-white rounded-xl hover:bg-violet-600">Editar lead</a>
        <a href="{% url 'leads:converter' lead.id %}" class="py-2 px-6 bg-sky-800 text-white rounded-xl hover:bg-sky-700">Converter para cliente</a>

        <hr class="my-4 text-gray-300">

        <h2 class="text-xl">Comentários</h2>

        <div class="space-y-4">
            {% for comment in lead.comments.all %}
                <div class="p-6 m-4 bg-gray-100 rounded-xl">
                    <div class="flex space-x-2 items-center">
                        <p class="font-semibold">{{ comment.criado_por }}</p>
                        <p class="text-xs text-gray-800"> {{ comment.criado_em|date:"d/M/Y - H:i"}} </p>
                    </div>
                    <p>{{ comment.content }}</p>
                </div>
            {% endfor %}
        </div>

        <form method="post" action="{% url 'leads:add_comment' lead.id %}">
            {% csrf_token %}

            {{ form.as_p }}

            <button class="py-2 px-6 bg-gray-200 text-black rounded-xl hover:bg-gray-300 hover:cursor-pointer">Enviar</button>

        </form>


        <hr class="my-4 text-gray-300">

        <a href="{% url 'leads:lista' %}" class="py-2 px-6 bg-gray-200 rounded-xl hover:bg-gray-300">Voltar para minhas leads</a>        
    </div>
{% endblock %}