{% extends 'core/base.html' %}
{% block title %} Leads {% endblock %}

{% block content %}
    <div class="py-6 px-6">
        <h1 class="mb-4 text-xl">Leads</h1>
        <a href="{% url 'add_lead' %}" class="py-3 px-6 inline-block text-white bg-violet-900 rounded-xl hover:bg-violet-600">Nova Lead</a>

        <div class="flex justify-between mt-4">
            <p class="py-4 px-2 bg-gray-200 w-full font-semibold">Prioridade</p>
            <p class="py-4 px-2 bg-gray-200 w-full font-semibold">Nome</p>
            <p class="py-4 px-2 bg-gray-200 w-full font-semibold">Status</p>
        </div>

        {% for lead in leads %}
            <div class="flex justify-between"> 
                <p class="py-2 px-2  w-full {% cycle 'bg-gray-100' '' %}">
                    <a href="{% url 'sobre_lead' lead.id %}">{{ lead.nome }}</a>
                </p>
                <p class="py-2 px-2  w-full {% cycle 'bg-gray-100' '' %}">
                    {{ lead.get_prioridade_display }}
                </p>
                <p class="py-2 px-2  w-full {% cycle 'bg-gray-100' '' %}">
                    {{ lead.get_status_display }}
                </p>
            </div>
        {% empty %}
            <p class="py-2 px-2 text-gray-900">Você ainda não cadastrou nenhuma lead</p>
        {% endfor %}            
    </div>
{% endblock %}